**/*.map
**/*.ts
**/tsconfig.json
**/tslint.json
*.code-workspace
*.vsix
.gitignore
.vscode/**
.vscode-test/**
coverage
coverconfig.json
doc
image
node-modules
out/**/*.map
out/test/**
package-lock.json
src/**
tsconfig.json
tslint.json
vsc-extension-quickstart.md